:root {
  --bg: #ffbed1;
  --primary: #ff5182;
  --login: #ff78ae;
  --hover: #fcc4da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.navbar a {
  color: var(--primary);
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-family: "Poppins";
}
.navbar a:hover {
  text-decoration: underline;
  color: var(--hover);
}
.navbar .right {
  display: flex;
  align-items: center;
}

.navbar span {
  color: var(--primary);
  font-size: 18px;
  padding-right: 10px;
}

.navbar .right a {
  margin-right: 20px;
}

.navbar .right a:hover {
  color: var(--login);
}

.content p {
  padding-top: 10px;
  padding-bottom: 18px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  margin: 10px 0;
  border-radius: 10px;
}

.timeline-item img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Poppins;
}
